#navbar{
    flex-direction: column;
    top:-41px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
height: 456px;
padding:2 px 56px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
#services{
flex-direction: column;
}
#clients{
    overflow: hidden;


}
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}